form(method='post', action=action)
  .row
    .col-md-8
      .form-group
        label(for='dashboard_slug') Slug
        input(name='dashboard_slug', id='dashboard_slug', class='form-control', disabled=((dashboard.slug && !isNew) ? 'true' : undefined), value=dashboard.slug, pattern='[-a-z]+', required)
        if dashboard.slug && !isNew
          input(type='hidden', name='dashboard_slug', value=dashboard.slug)

      .form-group
        label(for='dashboard_title') Title
        input(name='dashboard_title', id='dashboard_title', class='form-control', value=dashboard.title)

      .form-group
        label(for='dashboard_description') Description
        textarea(name='dashboard_description', id='dashboard_description', class='form-control',)
          = dashboard.description

      if dashboard.department
        .form-group
          label(for='dashboard_department') Department
          select.form-control(name='dashboard_department', id='dashboard_deptartment', required)
            each department in departments
              option(selected=((department.id === dashboard.department) ? 'selected' : undefined), value=department.id)
                = department.title

      .form-group
        label(for='dashboard_customer_type') User
        select.form-control(name='dashboard_customer_type', id='dashboard_customer_type', required)
          each customer_type in customer_types
            option(selected=((customer_type.id === dashboard['customer-type']) ? 'selected' : undefined), value=customer_type.id)
              = customer_type

      .form-group
        label(for='dashboard_business_model') Service costs paid by:
        select.form-control(name='dashboard_business_model', id='dashboard_business_model', required)
          each business_model in business_models
            option(selected=((business_model.id === dashboard['business-model']) ? 'selected' : undefined), value=business_model.id)
              = business_model
      
      .form-group
        label(for='dashboard_description_extra') Notes
        textarea.form-control(name='dashboard_description_extra', id='dashboard_description_extra')
          = dashboard['description-extra']

    .col-md-4#links
      if dashboard.relatedPages
        fieldset#start-page
          legend Start page
          if dashboard.relatedPages.transaction
            +link-group('dashboard_start_page', dashboard.relatedPages.transaction.url, dashboard.relatedPages.transaction.title, false)
        if !dashboard.relatedPages.transaction
          a#start-page-add.btn.btn-sm.btn-default.hidden Add a start page for this dashboard
        fieldset#related-links
          legend Related links
          if dashboard.relatedPages.other
            each link, index in dashboard.relatedPages.other
              +link-group('dashboard_link', link.url, link.title, true)
        a#related-links-add.btn.btn-sm.btn-default.hidden Add a new related link for this dashboard

  .row.well
    .form-group
      label(for='commit_message') Edit summary
      input(name='commit_message', id='commit_message', class='form-control', placeholder='A very short description of what you\'ve changed', required, style='width: 60%;')

    button(type='submit', class='btn btn-success') Save changes

  .clearfix

#hidden-start-page-template.hidden
  +link-group('dashboard_start_page', '', '', true)

#hidden-link-template.hidden
  +link-group('dashboard_link', '', '', true)

//- Link mixins
mixin link-group(identifier, url_value, title_value, show_remove_link)
  .link
    if show_remove_link
      a.remove-link.btn.btn-sm.btn-danger &times;
    +link-row('Title', identifier + '_title', title_value)
    +link-row('URL', identifier + '_url', url_value)

mixin link-row(type, form_element_identifier, value)
  .form-group.row
    .col-sm-2
      label.control-label.input-sm(for=form_element_identifier)= type
    .col-sm-10
      input.form-control.input-sm(name=form_element_identifier, id=form_element_identifier, value=value)
